<section id="contact-us1" class="contact-us-block bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="text-media-block text-center">
                            <img src="src/assets/images/dhc-banner-home-2.png" class="img-responsive"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="text-left">Contact Us</h4>
                        <div class="text-block">
                            <form onsubmit="return false" method="post">
                                <div class="row m-t-40">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                        <md-input-container class="md-block" flex-gt-sm>
                                                        <label>Full Name</label>
                                                        <input ng-model="user.fullname" required>
                                                        </md-input-container>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                        <label>Email Address</label>
                                                        <input ng-model="user.email" required>
                                                        </md-input-container>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                        <label>Phone Number</label>
                                                        <input ng-model="user.pnumber" required>
                                                        </md-input-container>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                        <label>Subject</label>
                                                        <input ng-model="user.subject" required>
                                                        </md-input-container>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <md-input-container class="md-block">
                                        <label>Your Message</label>
                                        <input md-maxlength="30" required md-no-asterisk name="message" ng-model="project.message">
                                    </md-input-container>
                                </div>
                                <div class="form-group">
                                <button type="submit" class="btn btn-info btn-lg pull-right" id="submit_btn">Submit</button>
                                </div>
                                <br/><br/>
                                <div class="button-list m-t-30">
                                    <button class="btn btn-facebook waves-effect waves-light" type="button"> <i class="fa fa-facebook"></i> </button>
                                    <button class="btn btn-twitter waves-effect waves-light" type="button"> <i class="fa fa-twitter"></i> </button>
                                    <button class="btn btn-googleplus waves-effect waves-light" type="button"> <i class="fa fa-google-plus"></i> </button>
                                    <button class="btn btn-linkedin waves-effect waves-light" type="button"> <i class="fa fa-linkedin"></i> </button>
                                    <button class="btn btn-instagram waves-effect waves-light" type="button"> <i class="fa fa-instagram"></i> </button>
                                    <button class="btn btn-pinterest waves-effect waves-light" type="button"> <i class="fa fa-pinterest"></i> </button>
                                    <button class="btn btn-dribbble waves-effect waves-light" type="button"> <i class="fa fa-dribbble"></i> </button>
                                    <button class="btn btn-youtube waves-effect waves-light" type="button"> <i class="fa fa-youtube"></i> </button>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>