<section id="services" class="features-block bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="text-block">
                            <h4 class="text-left">DHC Features</h4>
                            <ul class="common-list">
                                <li><i class="fa fa-check text-info m-r-5"></i> Maecenas sed diam eget</li>
                                <li><i class="fa fa-check text-info m-r-5"></i> List group item heading</li>
                                <li><i class="fa fa-check text-info m-r-5"></i> Donec id elit non mi porta gravida, list group item heading</li>
                                <li><i class="fa fa-check text-info m-r-5"></i> Maecenas sed diam eget list group item heading</li>
                                <li><i class="fa fa-check text-info m-r-5"></i> Maecenas sed diam eget</li>
                                <li><i class="fa fa-check text-info m-r-5"></i> Maecenas sed diam eget list group item heading</li>
                                <li><i class="fa fa-check text-info m-r-5"></i> List group item heading</li>
                                <li><i class="fa fa-check text-info m-r-5"></i> Donec id elit non mi porta gravida list group item heading</li>
                                <li><i class="fa fa-check text-info m-r-5"></i> Maecenas sed diam eget</li>
                                <li><i class="fa fa-check text-info m-r-5"></i> List group item heading list group item heading</li>
                                <li><i class="fa fa-check text-info m-r-5"></i> Donec id elit non mi porta gravida</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-media-block text-center">
                            <img src="src/assets/images/dhc-banner-home-4.png" class="img-responsive"/>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>