<section id="happy-clients1" class="about-us-block bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="text-block">
                            <h4 class="text-left">What People Say</h4>
                                <!-- START carousel-->
                                <div id="carousel-example-captions" data-ride="carousel" class="carousel slide m-t-30">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel-example-captions" data-slide-to="1"></li>
                                        <li data-target="#carousel-example-captions" data-slide-to="2"></li>
                                    </ol>
                                    <div role="listbox" class="carousel-inner">
                                        <div class="carousel-item active"> 
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="javascript:void(0)"> <img alt="64x64" class="media-object img-circle" src="plugins/images/users/varun.jpg" data-holder-rendered="true" style="width: 64px; height: 64px;"> </a>
                                            </div>
                                            <div class="media-body">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                                <small>Bannappa, <cite title="Source Title">Patient</cite></small> 
                                        </div>
                                        </div>
                                        </div>
                                        <div class="carousel-item"> <div class="media">
                                            <div class="media-left">
                                                <a href="javascript:void(0)"> <img alt="64x64" class="media-object img-circle" src="plugins/images/users/varun.jpg" data-holder-rendered="true" style="width: 64px; height: 64px;"> </a>
                                            </div>
                                            <div class="media-body">
                                                <div class="media-body">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                                    <small>Googleappa, <cite title="Source Title">Doctor</cite></small> 
                                        </div></div>
                                        </div>
                                        </div>
                                        <div class="carousel-item"> <div class="media">
                                            <div class="media-left">
                                                <a href="javascript:void(0)"> <img alt="64x64" class="media-object img-circle" src="plugins/images/users/varun.jpg" data-holder-rendered="true" style="width: 64px; height: 64px;"> </a>
                                            </div>
                                            <div class="media-body">
                                                <div class="media-body">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                                <small>Yahooappa,<cite title="Source Title">Hospital</cite></small> 
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END carousel-->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-media-block text-center">
                            <img src="src/assets/images/dhc-banner-home-3.png" class="img-responsive"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>