<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse slimscrollsidebar">
        <ul class="nav" id="side-menu">
            <li class="user-pro">
                <a href="/doctorProfile" class="waves-effect"><img src="../../../../assets/images/plugins/users/d1.jpg" alt="user-img" class="img-circle"> <span class="hide-menu">Mr. Basava</span></a>
            </li>
            <li> <a href="/doctorHome" class="waves-effect"><i class="fa fa-dashboard fa-1x p-r-10"></i> <span class="hide-menu">Dashboard</span></a> </li>
            <li> <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-calendar fa-1x p-r-10"></i> <span class="hide-menu"> My Appointments<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li> <a href="/doctorUpcomingAppointments">Upcoming</a></li>
                    <li> <a href="/doctorCompletedAppointments">Completed</a></li>
                    <li> <a href="/doctorCancelledAppointments">Cancelled</a></li>
                </ul>
            </li>
            <li> <a href="/doctorConfigAppointments" class="waves-effect"><i class="fa fa-calendar-check-o fa-1x p-r-10"></i>  <span class="hide-menu"> Appointment Config</a></li>
            <li> <a href="/doctorCancelAppointments" class="waves-effect"><i class="fa fa-calendar-times-o fa-1x p-r-10"></i> <span class="hide-menu"> Cancel Appointments</a></li>
            <li> <a href="/doctorDiagnosis" class="waves-effect"><i class="fa fa-heartbeat fa-1x p-r-10"></i> <span class="hide-menu"> Diagnosis</a></li>
            <li> <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-edit fa-1x p-r-10"></i> <span class="hide-menu"> Prescription<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li> <a href="/doctorPrescriptions">Prescription List</a></li>
                    <li> <a href="/doctorUploadPrescription">Prescription</a></li>
                </ul>
            </li>
            <li> <a href="/doctorNotifications" class="waves-effect"><i class="fa fa-bell fa-1x p-r-10"></i>   <span class="hide-menu"> Notifications</a></li>
        </ul>
    </div>
</div>