<div class="container">
    <div class="row bg-title">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Doctors Profile</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row m-b-30">
        <div class="col-md-8">
            <div class="text-media-block text-center">
                <img src="src/assets/images/dhc-banner-home-2.png" class="img-responsive"/>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <!-- Doctor Registration -->
            <dhc-doctor-registration></dhc-doctor-registration>
            <!-- End Doctor Registration -->
        </div>
    </div>
    <!--./row-->
</div>
        
