<footer ng-controller="dhcRegistrationFooterController">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <ul class="footer-custom-list divider-v4 divider-v4-left-single">
                        <li>
                            <h2 class="divider-v4-title">DHC</h2>
                        </li>
                        <li><a href="javascript:;">About Us</a></li>
                        <li><a href="javascript:;">Download App</a></li>
                        <li><a href="javascript:;">Contact</a></li>
                        <li><a href="javascript:;">Custumer Care</a></li>
                        <li><a href="javascript:;">Testimonials</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <ul class="footer-custom-list divider-v4 divider-v4-left-single">
                        <li>
                            <h2 class="divider-v4-title">Patients</h2>
                        </li>
                        <li><a href="javascript:;">Ask free health questions</a></li>
                        <li><a href="javascript:;">Search for Doctors</a></li>
                        <li><a href="javascript:;">Search for Clinics</a></li>
                        <li><a href="javascript:;">Search for Hospitals</a></li>
                        <li><a href="javascript:;">Search for Diagnostics</a></li>
                        <li><a href="javascript:;">Read Health Articles</a></li>
                        <li><a href="javascript:;">Consult a Doctor</a></li>
                        <li><a href="javascript:;">Order Medicines</a></li>
                        <li><a href="javascript:;">Read about Medicines</a></li>
                        <li><a href="javascript:;">DHC Drive</a></li>
                        <li><a href="javascript:;">DHC App</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <ul class="footer-custom-list divider-v4 divider-v4-left-single">
                        <li>
                            <h2 class="divider-v4-title">Hospitals</h2>
                        </li>
                        <li><a href="javascript:;">Insta by DHC</a></li>
                        <li><a href="javascript:;">Quickheal by DHC</a></li>
                        <li><a href="javascript:;">Querant by DHC</a></li>
                        <li><a href="javascript:;">DHC Profile</a></li>
                        <li><a href="javascript:;">Reach DHC</a></li>
                        <li><a href="javascript:;">DHC Drive</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <ul class="footer-custom-list divider-v4 divider-v4-left-single">
                        <li>
                            <h2 class="divider-v4-title">Doctors</h2>
                        </li>
                        <li><a href="javascript:;">DHC Consult</a></li>
                        <li><a href="javascript:;">DHC Health Feed</a></li>
                        <li><a href="javascript:;">DHC Profile</a></li>
                    </ul>
                    <ul class="footer-custom-list divider-v4 divider-v4-left-single margin-t-20">
                        <li>
                            <h2 class="divider-v4-title">Clinics</h2>
                        </li>
                        <li><a href="javascript:;">Ray by DHC</a></li>
                        <li><a href="javascript:;">DHC Reach</a></li>
                        <li><a href="javascript:;">DHC Tab</a></li>
                        <li><a href="javascript:;">DHC Pro</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <ul class="footer-custom-list divider-v4 divider-v4-left-single">
                        <li>
                            <h2 class="divider-v4-title">Diagnostics</h2>
                        </li>
                        <li><a href="javascript:;">Insta by DHC</a></li>
                        <li><a href="javascript:;">Quickheal by DHC</a></li>
                        <li><a href="javascript:;">Querant by DHC</a></li>
                        <li><a href="javascript:;">DHC Profile</a></li>
                        <li><a href="javascript:;">Reach DHC</a></li>
                        <li><a href="javascript:;">DHC Drive</a></li>
                    </ul>
                </div>	
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <ul class="footer-custom-list divider-v4 divider-v4-left-single">
                        <li>
                            <h2 class="divider-v4-title">More</h2>
                        </li>
                        <li><a href="javascript:;">Search for Diagnostics</a></li>
                        <li><a href="javascript:;">Read Health Articles</a></li>
                        <li><a href="javascript:;">Consult a Doctor</a></li>
                        <li><a href="javascript:;">Order Medicines</a></li>
                        <li><a href="javascript:;">Read about Medicines</a></li>
                        <li><a href="javascript:;">DHC Drive</a></li>
                        <li><a href="javascript:;">DHC App</a></li>
                    </ul>
                </div>
                </div>
                </div>
                </div>
                <div class="footer-bottom">
                <div class="container">
                <div class="row">
                <div class="col-md-6">
                <div class="copyrights">
                    <p> 2017 &copy; <strong>Digital Health Care</strong> | Maintained By Snipe IT Solutions </p>
                </div>
                </div>
                <div class="col-md-6">
                <div class="footer-privacy">
                        <ul>
                            <li><a href="/privacy-policy.aspx">Privacy Policy</a></li>
                            <li><a href="/terms-and-conditions.aspx">Terms &amp; Conditions</a></li>
                            <li><a href="/sitemap.aspx">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>