<!-- Custom CSS -->
<link href="src/assets/css/animate2.css" rel="stylesheet">
<link href="src/assets/css/style2.css" rel="stylesheet">
<link href="src/assets/css/colors2/default.css" id="theme" rel="stylesheet">
<div id="wrapper">
    <!-- Left navbar-header -->
    <dhc-registration-header></dhc-registration-header>
    <!-- Left navbar-header end -->
    <!-- Page Content -->
    <div id="page-wrapper">
        <div ng-view></div>
        <dhc-registration-footer></dhc-registration-footer>
        <dhc-modal></dhc-modal> 
    </div>
</div>