<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header"> 
    <div class="container">
    <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
        
        <ul class="nav navbar-top-links navbar-left hidden-xs">
            <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i></a></li>
        </ul>
        <ul class="nav navbar-top-links navbar-right pull-right">
                <li class="dropdown"> <a class="waves-effect waves-light" data-toggle="modal" data-target="#responsive-modal" href="#login"><i class="icon-user"></i> Login | Sign Up
    </a>
            </li>
            <!-- /.dropdown -->
        </ul>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
    </div>
</nav>
<!-- Left navbar-header -->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse slimscrollsidebar" id="myNavbar">
    <div class="container">
    <div class="top-left-part"><a class="logo" href="index.html"><b><img src="plugins/images/eliteadmin-logo.png" alt="home" /></b><span class="hidden-xs"><strong>HealthCare</strong></span></a></div>
        <ul class="nav" id="side-menu">
            <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                <!-- input-group -->
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
    <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
    </span> </div>
                <!-- /input-group -->
            </li>
            <li> <a href="/home" class="waves-effect"> <span class="hide-menu"> Home </span></a></li>
            <li> <a href="/home#about-us1" class="waves-effect"> <span class="hide-menu">About Us</span></a> </li>
            <!-- <li> <a href="#happy-clients1" class="waves-effect"> <span class="hide-menu">Testimonials</span></a> </li>
            <li> <a href="#services" class="waves-effect"> <span class="hide-menu">Specialization</span></a> </li> -->
            <li> <a href="/home#download" class="waves-effect"> <span class="hide-menu">Download App</span></a> </li>
            <li> <a href="/home#contact-us1" class="waves-effect"> <span class="hide-menu">Contact Us</span></a> </li>
        </ul>
        </div>
    </div>
</div>