<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Diagnosis</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> 
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Diagnosis</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default block3">
                    <div class="panel-heading">Disease Names
                        <div class="panel-action">
                            <a href="javascript:;" data-toggle="modal" data-target="#disease" class="btn btn-md btn-info"><i class="fa fa-plus m-r-10"></i>Add</a>
                        </div>
                    </div>
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="table-responsive">
                        <table id="myTable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Disease Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Gastric</td>
                                    <td><div class="btn-group"><a href="javascript:;" class="btn btn-sm btn-info m-r-10"><i class="fa fa-edit"></i></a><a href="javascript:;" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a></div></td>
                                </tr>
                                <tr>
                                    <td>Loose Motion</td>
                                    <td><div class="btn-group"><a href="javascript:;" class="btn btn-sm btn-info m-r-10"><i class="fa fa-edit"></i></a><a href="javascript:;" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a></div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default block3">
                    <div class="panel-heading">Tests Names
                        <div class="panel-action">
                            <a href="javascript:;" data-toggle="modal" data-target="#tests" class="btn btn-md btn-info"><i class="fa fa-plus m-r-10"></i>Add</a>
                        </div>
                    </div>
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="table-responsive">
                        <table id="myTable1" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Test Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Gastric</td>
                                    <td><div class="btn-group"><a href="javascript:;" class="btn btn-sm btn-info m-r-10"><i class="fa fa-edit"></i></a><a href="javascript:;" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a></div></td>
                                </tr>
                                <tr>
                                    <td>Loose Motion</td>
                                    <td><div class="btn-group"><a href="javascript:;" class="btn btn-sm btn-info m-r-10"><i class="fa fa-edit"></i></a><a href="javascript:;" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a></div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default block3">
                    <div class="panel-heading">Symptoms Names
                        <div class="panel-action">
                            <a href="javascript:;" data-toggle="modal" data-target="#symptoms" class="btn btn-md btn-info"><i class="fa fa-plus m-r-10"></i>Add</a>
                        </div>
                    </div>
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="table-responsive">
                        <table id="myTable2" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Symptoms Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Gastric</td>
                                    <td><div class="btn-group"><a href="javascript:;" class="btn btn-sm btn-info m-r-10"><i class="fa fa-edit"></i></a><a href="javascript:;" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a></div></td>
                                </tr>
                                <tr>
                                    <td>Loose Motion</td>
                                    <td><div class="btn-group"><a href="javascript:;" class="btn btn-sm btn-info m-r-10"><i class="fa fa-edit"></i></a><a href="javascript:;" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a></div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default block3">
                    <div class="panel-heading">Medication Names
                        <div class="panel-action">
                            <a href="javascript:;" data-toggle="modal" data-target="#medication" class="btn btn-md btn-info"><i class="fa fa-plus m-r-10"></i>Add</a>
                        </div>
                    </div>
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="table-responsive">
                        <table id="myTable3" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Medication Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Gastric</td>
                                    <td><div class="btn-group"><a href="javascript:;" class="btn btn-sm btn-info m-r-10"><i class="fa fa-edit"></i></a><a href="javascript:;" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a></div></td>
                                </tr>
                                <tr>
                                    <td>Loose Motion</td>
                                    <td><div class="btn-group"><a href="javascript:;" class="btn btn-sm btn-info m-r-10"><i class="fa fa-edit"></i></a><a href="javascript:;" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a></div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Begin Modal -->
        <div class="modal fade none-border" id="disease">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><strong>Add Disease Name</strong></h4>
                    </div>
                    <div class="modal-body">
                        <form>
                        <div class="form-group">
                        <md-input-container class="md-block">
                                                    <label>Disease Name</label>
                                                    <input required name="clientName" ng-model="project.clientName">
                                                    <div ng-messages="projectForm.clientName.$error">
                                                        <div ng-message="required">This is required.</div>
                                                    </div>
                                                    </md-input-container>
                        </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group"><a href="javascript:;" class="btn btn-md btn-info m-r-10"><i class="fa fa-send m-r-5"></i>Submit</a><a href="javascript:;" class="btn btn-md btn-danger" data-dismiss="modal"><i class="fa fa-close m-r-5"></i>Close</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade none-border" id="tests">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><strong>Add Tests Name</strong></h4>
                    </div>
                    <div class="modal-body">
                        <form>
                        <div class="form-group">
                        <md-input-container class="md-block">
                                                    <label>Test Name</label>
                                                    <input required name="clientName" ng-model="project.clientName">
                                                    <div ng-messages="projectForm.clientName.$error">
                                                        <div ng-message="required">This is required.</div>
                                                    </div>
                                                    </md-input-container>
                        </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group"><a href="javascript:;" class="btn btn-md btn-info m-r-10"><i class="fa fa-send m-r-5"></i>Submit</a><a href="javascript:;" class="btn btn-md btn-danger" data-dismiss="modal"><i class="fa fa-close m-r-5"></i>Close</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade none-border" id="symptoms">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><strong>Add Symptoms Name</strong></h4>
                    </div>
                    <div class="modal-body">
                        <form>
                        <div class="form-group">
                        <md-input-container class="md-block">
                                                    <label>Symptoms Name</label>
                                                    <input required name="clientName" ng-model="project.clientName">
                                                    <div ng-messages="projectForm.clientName.$error">
                                                        <div ng-message="required">This is required.</div>
                                                    </div>
                                                    </md-input-container>
                        </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group"><a href="javascript:;" class="btn btn-md btn-info m-r-10"><i class="fa fa-send m-r-5"></i>Submit</a><a href="javascript:;" class="btn btn-md btn-danger" data-dismiss="modal"><i class="fa fa-close m-r-5"></i>Close</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade none-border" id="medication">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><strong>Add Medication Name</strong></h4>
                    </div>
                    <div class="modal-body">
                        <form>
                        <div class="form-group">
                        <md-input-container class="md-block">
                                                    <label>Medication Name</label>
                                                    <input required name="clientName" ng-model="project.clientName">
                                                    <div ng-messages="projectForm.clientName.$error">
                                                        <div ng-message="required">This is required.</div>
                                                    </div>
                                                    </md-input-container>
                        </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group"><a href="javascript:;" class="btn btn-md btn-info m-r-10"><i class="fa fa-send m-r-5"></i>Submit</a><a href="javascript:;" class="btn btn-md btn-danger" data-dismiss="modal"><i class="fa fa-close m-r-5"></i>Close</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->
    </div>
</div>