<section id="about-us" class="about-us-block bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="text-media-block text-center">
                            <img src="src/assets/images/dhc-banner-home.png" class="img-responsive"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-block">
                            <h4 class="text-left">About DHC</h4>
                            <p>The Digital Health Care idea was brewed into each and every member of our team, when we friends were discussing a friend’s treatment process in which he had to call his family/friends to gather few reports which he though was not a part of current doctor visit.</p>
                            <p>Once my friend gathered all his reports he went to visit his doctor cabin to present it and get his consultation, but for his surprise he got to know that doctor had left out, as it was his lunch time and he would be back after 1 Hour.</p>
                            <p>As consultation was necessary my friend, waited for doctor and figured from his admin after 1 Hour, that he will not be available till tomorrow has he had to respond to emergency call, which made my friend very concerned, as his leave extension was not possible due to his own commitments that were scheduled for next day.</p>
                            <p>This above experience briefing in friends gathering, gave us thought to come up with this application Digital Health Care(i.e. DHC).</p>
                            <p>This is all About Us, we are here to make sure, information provided is accurate and secure in your login limits.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>