<section id="download" class="about-us-block bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="text-block">
                            <h4 class="text-left">Download DHC App</h4>
                            <p>The Digital Health Care idea was brewed into each and every member of our team, when we friends were discussing a friend’s treatment process in which he had to call his family/friends to gather few reports which he though was not a part of current doctor visit.</p>
                            <p>Once my friend gathered all his reports he went to visit his doctor cabin to present it and get his consultation, but for his surprise he got to know that doctor had left out, as it was his lunch time and he would be back after 1 Hour.</p>
                            
                            <div class="row m-t-30">
                                <div class="col-md-3">
                                    <a href="javascript:;"><img src="src/assets/images/dhc-app-download-apple.png" class="img-responsive"/></a>
                                </div>
                                <div class="col-md-3">
                                    <a href="javascript:;"><img src="src/assets/images/dhc-app-download-android.png" class="img-responsive"/></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-media-block text-center">
                            <img src="src/assets/images/dhc-banner-home-1.png" class="img-responsive"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>